In [89]:
# Import Statements
import math

Declare an empty list

In [ ]:
sampleList = []

Declare a list with more than 5 items

In [3]:
colorsList = ['Blue','Green','Red','Orange','White','Yellow','Pink','Grey','Black','Purple']

Find the length of your list

In [13]:
print(len(colorsList))

10

Get the first item, the middle item and the last item of the list

In [20]:


print("First Item: ",colorsList[0] )
print("Middle Item: ",colorsList[int(len(colorsList)/2)])
print("Last Item: ",colorsList[-1] )

First Item:  Blue
Middle Item:  Yellow
Last Item:  Purple

Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [21]:
mixed_data_types = ['Sagar',29,5.11,'Married','Bangalore']

Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [31]:
it_companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']

Print the list using print()

In [32]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

Print the number of companies in the list

In [33]:
print("Number of companies in a list: ",len(it_companies))

Number of companies in a list:  7

Print the first, middle and last company

In [34]:
print("First Item: ",it_companies[0] )
print("Middle Item: ",it_companies[int(len(colorsList)/2)])
print("Last Item: ",it_companies[-1] )

First Item:  Facebook
Middle Item:  Oracle
Last Item:  Amazon

Print the list after modifying one of the companies

In [35]:
it_companies[5] = 'Infosys'
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Infosys', 'Amazon']

Add an IT company to it_companies

In [36]:
it_companies.append('Oracle')
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Infosys', 'Amazon', 'Oracle']

Insert an IT company in the middle of the companies list

In [37]:
it_companies.insert(int(len(it_companies)/2),'TCL')
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'TCL', 'IBM', 'Infosys', 'Amazon', 'Oracle']

Change one of the it_companies names to uppercase (IBM excluded!)

In [38]:
it_companies[2] = it_companies[2].upper()
print(it_companies)

['Facebook', 'Google', 'MICROSOFT', 'Apple', 'TCL', 'IBM', 'Infosys', 'Amazon', 'Oracle']

Join the it_companies with a string '#;  '

In [40]:
it_hash_companies = []
for company in it_companies:
    it_hash_companies.append("#{};".format(company))

print(it_hash_companies)

['#Facebook;', '#Google;', '#MICROSOFT;', '#Apple;', '#TCL;', '#IBM;', '#Infosys;', '#Amazon;', '#Oracle;']

Check if a certain company exists in the it_companies list.

In [44]:
result1 = 'IBM' in it_companies
result2 = 'TechMahindra' in it_companies
print(result1)
print(result2)

True
False

Sort the list using sort() method

In [48]:
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Infosys', 'MICROSOFT', 'Oracle', 'TCL']

Reverse the list in descending order using reverse() method

In [49]:
it_companies.reverse()
print(it_companies)

['TCL', 'Oracle', 'MICROSOFT', 'Infosys', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

Slice out the first 3 companies from the list

In [51]:
print(it_companies[:3])

['TCL', 'Oracle', 'MICROSOFT']

Slice out the last 3 companies from the list

In [59]:
print(it_companies[:-4:-1])

['Amazon', 'Apple', 'Facebook']

Slice out the middle IT company or companies from the list

In [62]:
print(it_companies[3:-3])

['IBM', 'Google']

Remove the first IT company from the list

In [61]:
print(it_companies)
it_companies.pop(0)
print(it_companies)

['TCL', 'Oracle', 'MICROSOFT', 'Infosys', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']
['Oracle', 'MICROSOFT', 'Infosys', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

Remove the middle IT company or companies from the list

In [63]:
print(it_companies)
it_companies.pop(int(len(it_companies)/2))
print(it_companies)

['Oracle', 'MICROSOFT', 'Infosys', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']
['Oracle', 'MICROSOFT', 'Infosys', 'IBM', 'Facebook', 'Apple', 'Amazon']

Remove the last IT company from the list

In [64]:
print(it_companies)
it_companies.pop()
print(it_companies)

['Oracle', 'MICROSOFT', 'Infosys', 'IBM', 'Facebook', 'Apple', 'Amazon']
['Oracle', 'MICROSOFT', 'Infosys', 'IBM', 'Facebook', 'Apple']

Remove all IT companies from the list

In [65]:
print(it_companies)
it_companies.clear()
print(it_companies)

['Oracle', 'MICROSOFT', 'Infosys', 'IBM', 'Facebook', 'Apple']
[]

Destroy the IT companies list

In [66]:
del(it_companies)

Join the following lists:

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

In [71]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

print(front_end+back_end)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack. Then insert Python and SQL after Redux.

In [73]:
FullStack = front_end+back_end
print(FullStack)
print(FullStack.index('Redux'))
FullStack.insert(FullStack.index("Redux")+1,"Python")
FullStack.insert(FullStack.index("Python")+1,"SQL")
print(FullStack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
4
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

The following is a list of 10 students ages:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
Sort the list and find the min and max age
Add the min age and the max age again to the list
Find the median age (one middle item or two middle items divided by two)
Find the average age (sum of all items divided by their number )
Find the range of the ages (max minus min)
Compare the value of (min - average) and (max - average), use abs() method

In [76]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print("ages: ",ages)
print("Min age",min(ages))
print("Max age",max(ages))
ages.append(min(ages))
ages.append(max(ages))
print("Median:",ages[int(len(ages)/2)])
average = sum(ages)/len(ages)
print("Average",average)
print("Range of ages",min(ages),"-",max(ages))
abs((min(ages)-average)-(max(ages)-average))

ages:  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min age 19
Max age 26
Median: 24
Average 22.75
Range of ages 19 - 26

7.0

Find the middle country(ies) in the countries list

In [80]:
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]

In [83]:
print("Middle Country in a list:",countries[int(len(countries)/2)])

Middle Country in a list: Lesotho

Divide the countries list into two equal lists if it is even if not one more country for the first half.

In [91]:
if len(countries)%2 ==0:
    print(countries[:int(len(countries)/2)])
    print(countries[int(len(countries)/2):])
else:
    print(countries[:math.ceil(len(countries)/2)])
    print(countries[math.ceil(len(countries)/2):])

['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho']
['Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

 ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.

In [92]:
countriesList = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
scandicCountries = countriesList[3:]
print(scandicCountries)

['Finland', 'Sweden', 'Norway', 'Denmark']