In [16]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

Find the length of the set it_companies

In [3]:
print(len(it_companies))

7

Add 'Twitter' to it_companies

In [4]:
print(it_companies)
it_companies.add('Twitter')
print(it_companies)

{'Microsoft', 'Amazon', 'IBM', 'Facebook', 'Apple', 'Oracle', 'Google'}
{'Microsoft', 'Amazon', 'IBM', 'Facebook', 'Apple', 'Oracle', 'Twitter', 'Google'}

Insert multiple IT companies at once to the set it_companies

In [7]:
print(it_companies)
it_companies.update({'TechMahindra','Infosys'})
print(it_companies)

{'Microsoft', 'Amazon', 'IBM', 'Facebook', 'Apple', 'Oracle', 'Twitter', 'Google'}
{'Microsoft', 'Infosys', 'Twitter', 'Oracle', 'TechMahindra', 'Amazon', 'Google', 'IBM', 'Apple', 'Facebook'}

Remove one of the companies from the set it_companies

In [9]:
print(it_companies)
it_companies.remove('Twitter')
print(it_companies)

{'Microsoft', 'Infosys', 'Twitter', 'Oracle', 'TechMahindra', 'Amazon', 'Google', 'IBM', 'Apple', 'Facebook'}
{'Microsoft', 'Infosys', 'Oracle', 'TechMahindra', 'Amazon', 'Google', 'IBM', 'Apple', 'Facebook'}

What is the difference between remove and discard

In [ ]:
print(it_companies)
it_companies.remove('Oracle') #if element is a member of set deletes that element, if not raises an error
print(it_companies)
it_companies.discard('IBM') #if element is a member of a set deletes that element, if not does nothing

Join A and B

In [15]:
print(A)
print(B)

A.update(B)

print(A)

{19, 20, 22, 24, 25, 26}
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

Find A intersection B

In [17]:
print(A)
print(B)

A.intersection(B)

{19, 20, 22, 24, 25, 26}
{19, 20, 22, 24, 25, 26, 27, 28}

{19, 20, 22, 24, 25, 26}

Is A subset of B

In [18]:
A.issubset(B)

True

Are A and B disjoint sets

In [19]:
A.isdisjoint(B)

False

Join A with B and B with A

In [20]:
A.update(B)
B.update(A)

What is the symmetric difference between A and B

In [21]:
A.symmetric_difference(B)

set()

Delete the sets completely

In [23]:
del(A)

Convert the ages to a set and compare the length of the list and the set, which one is bigger?

In [27]:
print(type(age))
print(age)
age_set = set(age)
print(age_set)

print("Length of age set",len(age_set))
print("Length of age list",len(age))

print("Length of age set is bigger than age list" if len(age_set)>len(age) else 'Length of age list is bigger than age set')

<class 'list'>
[22, 19, 24, 25, 26, 24, 25, 24]
{19, 22, 24, 25, 26}
Length of age set 5
Length of age list 8
Length of age list is bigger than age set

Explain the difference between the following data types: string, list, tuple and set

In [ ]:
# A String is a group of characters.
# A list is an ordered, mutable collection of elements. 
# A tuple is an ordered, immutable collection of elements. 
# A set is an unordered collection of unique elements.

I am a teacher and I love to inspire and teach people. How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

In [30]:
string = "I am a teacher and I love to inspire and teach people"
string_list = string.split(' ')
print(string_list)

print(set(string_list))
print("{} words are unique!".format(len(set(string_list))))

['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people']
{'inspire', 'love', 'a', 'and', 'to', 'am', 'teach', 'teacher', 'I', 'people'}
10 words are unique!