Create an empty dictionary called dog

In [1]:
dog = dict()
print(dog)
print(type(dog))

{}
<class 'dict'>

Add name, color, breed, legs, age to the dog dictionary

In [2]:
dog['name'] ="Blacky"
dog['color'] = 'Black'
dog['breed'] = 'Pamorean'
dog['legs'] = 4
dog['age'] = 3

print(dog)

{'name': 'Blacky', 'color': 'Black', 'breed': 'Pamorean', 'legs': 4, 'age': 3}

Create a student dictionary and add first_name, last_name, gender, age, marital status, skills, country, city and address as keys for the dictionary

In [8]:
student = {
    'first_name': 'Sagar',
    'last_name': 'S',
    'gender': 'Male',
    'age' : 29,
    'marital status': 'married',
    'skills' : ['Python','Javascript'],
    'country': 'India',
    'city' : 'Bangalore',
    'address': 'Devenahalli'
}

print(student)

{'first_name': 'Sagar', 'last_name': 'S', 'gender': 'Male', 'age': 29, 'marital status': 'married', 'skills': ['Python', 'Javascript'], 'country': 'India', 'city': 'Bangalore', 'address': 'Devenahalli'}

Get the length of the student dictionary

In [9]:
print(len(student))

9

Get the value of skills and check the data type, it should be a list

In [11]:
print(student['skills'])

print(type(student['skills']))

['Python', 'Javascript']
<class 'list'>

Modify the skills values by adding one or two skills

In [12]:
student['skills'].append('NMS')

print(student['skills'])

['Python', 'Javascript', 'NMS']

Get the dictionary keys as a list

In [14]:
print(list(student.keys()))

['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address']

Get the dictionary values as a list

In [15]:
print(list(student.values()))

['Sagar', 'S', 'Male', 29, 'married', ['Python', 'Javascript', 'NMS'], 'India', 'Bangalore', 'Devenahalli']

Change the dictionary to a list of tuples using items() method

In [19]:
print(tuple(student.items()))

(('first_name', 'Sagar'), ('last_name', 'S'), ('gender', 'Male'), ('age', 29), ('marital status', 'married'), ('skills', ['Python', 'Javascript', 'NMS']), ('country', 'India'), ('city', 'Bangalore'), ('address', 'Devenahalli'))

Delete one of the items in the dictionary

In [20]:
student.pop('address')
print(student.keys())

dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city'])

Delete one of the dictionaries

In [21]:
del(student)